diego = #484848
blanco = #fff
fTitulo = #343434
btnNaranja = #fd7714;
*
	margin 0 
	padding 0
	
body
	background blanco
	margin 0 7%
	
header
	position relative
	.logo
		width 200px
		img
			width 180px
	.sesion
		position absolute
		right 0
		bottom 20px
		a
			background btnNaranja
			color blanco
			padding 0.5em 2em 
			
nav 
	background blanco
	padding-bottom 1em
	.navPrincipal
		border-top solid 1px diego
		margin 0 auto
		li
			display inline
			a
				color fTitulo
				font-style none
				margin 0 2em
				padding 1em	2em	

#contenedor
	background diego
	width 100%
	height 100px